@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Hanken Grotesk", sans-serif !important;
}
.container-xxl {
  width: 100% !important;
  max-width: 1440px !important;
  margin: auto !important;
  padding: 0.8rem 1.2rem !important;
}
:root {
  --color-primary: rgb(54, 168, 54);
  --color-secondary: rgb(0, 119, 0);
  --color-dark-500: rgb(8, 8, 8);
  --color-dark-400: rgb(32, 32, 32);
  --color-dark-300: rgb(50, 50, 50);
  --color-dark-200: rgb(68, 68, 68);
  --color-dark-100: rgb(92, 92, 92);
  --color-light-100: rgb(255, 255, 255);
  --color-light-200: rgb(253, 253, 253);
  --color-light-300: rgb(240, 240, 240);
  --color-light-400: rgb(225, 225, 225);
  --color-light-500: rgb(207, 207, 207);
}
.svg {
  flex-shrink: 0 !important;
}
.selct-box input {
  border: none !important;
}
.errormsg {
  color: red !important;
  display: inline;
  padding: 12px 4px !important;
}
.text-primary {
  color: var(--color-primary) !important;
}
::file-selector-button {
  /* padding: 0 !important;
  margin: 0 !important;
  visibility: 0.1;
  width: 100%;
  height: 100% !important;
  border: 1px solid red; */
  display: none;
}

.btn-image-upload {
  top: 15%;
  /* transform: translateY(-25%); */
  right: 4%;
  color: var(--color-primary) !important;
  font-size: 18px;
  font-weight: 900 !important;
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .btn-image-upload {
    right: 14%;
  }
}

@media only screen and (min-width: 768px) {
  .btn-image-upload {
    right: 20%;
  }
}
select {
  width: 76px;
  text-align: center;
  outline: none;
  background: transparent;
  border: 2px solid var(--color-primary);
}
select option {
  background-color: var(--color-light-300);
}

.loader {
  width: 1em;
  height: 1em;
  font-size: 150px;
  position: relative;
  opacity: 0.9;
}
.loader:before,
.loader:after {
  content: "";
  top: 0;
  display: block;
  width: 1em;
  height: 1em;
  position: absolute;
  border-width: 0.4em;
  border-style: double;
  border-color: transparent;
  box-sizing: border-box;
  border-radius: 1em;
  animation: spin 1s infinite;
}
.loader:after {
  left: 0;
  border-left-color: var(--color-primary);
}
.loader:before {
  right: 0;
  border-right-color: var(--color-primary);
  animation-delay: 1s/-4;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
    opacity: 0.7;
  }
}
.bg-1 {
  background-color: rgba(22, 101, 52, 0.8) !important;
}
.bg-2 {
  background-color: rgba(21, 128, 61, 0.8) !important;
}
.bg-3 {
  background-color: rgba(4, 120, 87, 0.8) !important;
}
.bg-4 {
  background-color: rgba(5, 150, 105, 0.8) !important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}
